html,
body {
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}

#alerts {
    position: fixed;
    width: 70%;
    left: 15%;
}

#alerts * {
    margin: 0;
}

.off {
    display: none;
}
