* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#alerts {
    position: fixed;
    width: 70%;
    left: 15%;
    z-index: 100000;
}

#alerts * {
    margin: 0;
}

.off {
    display: none;
}
