.analytics-container {
  width: 60vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  margin: 0 10vw;
}

.welcome {
  width: 60vw;
  margin: 15px 10vw;
  padding: 10px;
  text-align: center;
  color: #47556c;
}

.item {
    width: 175px;
    height: 175px;
    margin: 25px;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
}

.item .link, .item .link a  {
    font-size: 125%;
    text-decoration: none;
    color: #47556c;
}

.flex-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  margin-top: 5px;
  padding: 3px 10px;
  font-size: 14px;
}

@media screen and (max-width: 760px) {
  .analytics-container {
    width: 175px;
    font-size: 10px;
    justify-content: space-around;
  }
  .welcome {
    display: none;
  }
  .item {
    width: 125px;
    height: 125px;
  }
  .button {
    display: none;
  }
}