.calendar-container {
  display: flex;
  margin: 10vw;
  padding: 10px;
  color: #47556c;
  text-align: center;
}

.form-input {
  width: 100%;
  height: 50px;
  margin: 10px 0;
  padding: 0px 10px;
}

.date-select {
  width: calc(30% - 10px);
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calendar-form {
  width: calc(70% - 10px);
  margin: 10px;
  padding: 20px;
}

.calendar-form > * {
  margin: 30px 0;
}

.button {
  padding: 10px 25px;
}