
.links-container {
  height: 60vh;
  width: 60vw;
  margin: 10vw;
  padding: 20px;
  color: #47556c;
  text-align: center;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link-form {
  height: 100%;
  width: calc(50% - 10px);
  margin: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links-list {
  height: 100%;
  width: calc(50% - 10px);
  margin: 10px;

  word-wrap: break-word;
  overflow-x: scroll;
}

.form-input {
  width: 100%;
  height: 50px;
  margin: 10px 10px;
  padding: 5px 10px;
}

.button {
  padding: 10px 25px;
}

/*
page styles
*/

#link-manager {
  list-style-type: none;
  padding: 0;
}

#link-manager div.link {
  transition: all 300ms ease;
  margin: 0 0;
  padding: 15px;
}

#link-manager div.modifying {
  transform: scale(1.05);
}

div.link:hover {
  box-shadow: 0 0 1px 1px lightgray;
}

/*
Drag-and-Drop CSS Styles
*/

/* [draggable] {
    cursor: grab;
}

.draggable {
    transition: 0.3s;
}

.dragging {
    opacity: 0.4;
    animation: none !important;
    box-shadow: none !important;
    transform: scale(0.99);
}

@keyframes over-drop {
    0% { 
        transform: scale(1.001) rotate(0deg); 
    }
    50% {
        transform: scale(1.001) rotate(+0.2deg);
    }
    100% {
        transform: scale(1.001) rotate(-0.2deg);
    }
}

.over {
    animation-name: over-drop;
    animation-duration: 0.175s;
    animation-iteration-count: infinite;

    box-shadow: 0 0 8px 8px lightgray;
}

@keyframes dropped-animation {
    0% { 
        transform: scale(1.00); 
    }
    50% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(1.00);
    }
}

.dropped {
    animation-name: dropped-animation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
} */