.navbar {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 20vw;
  padding: 0;
  background-color: #47556c;
  text-align: center;
  font-size: 18px;
}

ul {
  list-style-type: none;
}

li {
  width: 100%;
}

li p {
  color: #ebdfe1;
  margin-top: 25px;
}

a li {
  padding-top: calc(38vh / 10);
  padding-bottom: calc(38vh / 10);
  text-decoration: none;
}

li.navbar-item:hover, .navbar-link:hover {
  background-color: #cfc5c7;
  color: #47556c;
  text-decoration: none;
}

.navbar-image {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.navbar-link {
  width: 100%;
  font-weight: 200;
  transition: 0.3s;
  color: #ebdfe1;
}

.navbar-item.active {
  font-weight: 600 !important;
  background-color: #cfc5c7;
  color: #47556c;
}
