<head>
  <link rel='stylesheet' href='/stylesheets/admin/navbar.css' />
</head>

<ul class="navbar">
  <li>
    <img class="navbar-image" src="">
  </li>
  <li>
    <p><%= name %></p>
  </li>
  <% for (let link of redirects) { %>
    <a href="<%= link.url %>" class="navbar-link">
      <li class="navbar-item <%= (link.active ? 'active' : '') %>">
        <%= link.name %>
      </li>
    </a>
  <% } %>

  <a class="navbar-link" href="/admin/signout">
    <li class="navbar-item"  style="padding-top: 2vh; padding-bottom: 2vh;">
      Sign Out
    </li>
  </a>
</ul>
