<div class="nnavbar">
    <div class="nnavbar-item">
        <a class="nnavbar-link em" href="/admin">Admin Panel</a>
    </div>
    <% for (let link of redirects) { %>
        <div class="nnavbar-item">
            <a href="<%= link.url %>" 
                class="nnavbar-link <%= (link.active ? 'em' : '') %>"
            >
                <%= link.name %>
            </a> 
        </div>
    <% } %>

    <div class="nnavbar-item">
        <a class="nnavbar-link" style="color:lightblue;" href="/admin/signout">Sign Out</a>
    </div>
</div>