<!DOCTYPE html>
<html lang="en">

  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
      <link rel='stylesheet' href='/stylesheets/admin/admin.css' />

      <title>Admin Panel</title>
  </head>

  <body>
    <div id="response" class="signin-container">
      <h1>SOPHOMORE.STUYSU.ORG ADMIN PANEL</h1>

      <br>
          
      <% if (locals.message) { %>
        <div><%= message %></div>
      <% } %>
          
      <p style="font-size: 18px;">Please sign in...</p>
      <br>
      <p id="g_id_onload"
        data-client_id="<%- client_id %>"
        data-login_uri="/admin/login"
      >
      <div class="g_id_signin" data-type="standard"></div>

      <script src="https://accounts.google.com/gsi/client" async defer></script>
    </div>
  </body>
</html>