* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: white;
}

#root {
    font-family: "Lato", sans-serif;

    display: flex;
    align-content: flex-start;
    flex-flow: column nowrap;

    min-height: 100vh;
    width: 800px;
    margin: 0 auto;
}

#logo img {
    border-radius: 100%;
    box-shadow: 0px 4px 2px 1px rgba(0, 0, 255, 0.2);
    margin-bottom: 20px;
}

#logo {
    user-select: none;
    color: black;
    font-size: 200%;
    font-weight: bold;
    padding: 20px 0 30px 0;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    #root {
        width: 100vw;
        height: 100vh;
    }
}
