<h1>Our Team</h1>
<p>Meet all of our caucus members below!</p>
<table class="team-container">
    <tr>
        <td>
        <table class="our-team">
            <tr><h2 id="h2">Presidents</h2></tr>
            <tr id="images">
                <td><img src="/images/team-photos/amanda-cisse.png"></td>
                <td><img src="/images/team-photos/margaret-mikhalevsky.jpg"></td>
            </tr>
            <tr id="description">
                <td>
                    <h2>Amanda Cissé</h2>
                </td>
                <td>
                    <h2>Margaret Mikhalevsky</h2>
                </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Executive Board</h2></tr>
                <tr id="images">
                    <td><img src="/images/team-photos/anna-gittardi2.png"></td>
                    <td><img src="/images/team-photos/yashna-patel2.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Anna Gittardi</h2>
                        <p>Chief of Staff</p>
                    </td>
                    <td>
                        <h2>Yashna Patel</h2>
                        <p>Chief of Staff</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Events</h2></tr>
                <tr id="images">
                    <td><img src="/images/team-photos/emma-kwan.jpg"></td>
                    <td><img src="/images/team-photos/eliza-oppenheimer2.png"></td>
                    <td><img src="/images/team-photos/bishesh-shah2.png"></td>
                </tr>
                <tr id="description">
                    <td>
                    <h2>Emma Kwan</h2>
                    <p>Director</p>
                    </td>
                    <td>
                    <h2>Eliza Oppenheimer</h2>
                    <p>Director</p>
                    </td>
                    <td>
                    <h2>Bishesh Shah</h2>
                    <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Sadat Ahmed</li>
        <li>Tanisha Jinnat</li>
        <li>Deangelo Poon</li>
        <li>Srinity Rijal</li>
        <li>Mehruba Tithi</li>
        <li>Johanna Wu</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr id="dept-title"><h2 id="h2">Finance</h2></tr>
                <tr id="images">
                    <td><img src="/images/team-photos/eugene-park.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Eugene Park</h2>
                        <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Eva Blyakherov</li>
        <li>Joanna Meng</li>
        <li>Gordon Tsang</li>
        <li>Trystan Woutersz</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Socials</h2></tr>
                <tr id="images">
                    <td><img src="/images/team-photos/ankki-dong2.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Ankki Dong</h2>
                        <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Elaine Huan</li>
        <li>Julian Huang</li>
        <li>Intia Ibnah</li>
        <li>Kaitlin Tan</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">IT</h2></tr>
                <tr id="images">
                    <td><img src="/images/team-photos/ivan-chen.png"></td>
                    <td><img src="/images/team-photos/anthony-chen.jpg"></td>
                    <td><img src="/images/team-photos/shaurya-sen.png"></td>
                    <td><img src="/images/team-photos/hannah-kim.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Ivan Chen</h2>
                        <p>Director</p>
                    </td>
                    <td>
                        <h2>Anthony Chen</h2>
                        <p>Director</p>
                    </td>
                    <td>
                        <h2>Shaurya Sen</h2>
                        <p>Director</p>
                    </td>
                    <td>
                        <h2>Hannah Kim</h2>
                        <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Benjamin Goldfisher</li>
        <li>Simon Shkolnik</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Internal</h2></tr>
                <tr id="images">
                    <td><img src="/images/team-photos/temp-pfp.png"></td>
                    <td><img src="/images/team-photos/shira-galai2.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Kate Bondarenko</h2>
                        <p>Director</p>
                    </td>
                    <td>
                        <h2>Shira Galai</h2>
                        <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Coleyi Chen</li>
        <li>Mia Haas</li>
        <li>Henry Ji</li>
        <li>Allison Jin</li>
        <li>Mozen Kalefa</li>
        <li>Edwin Lin</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Outreach</h2></tr>
                <tr id="images">
                    <td><img src="/images/team-photos/vanessa-chen2.png"></td>
                    <td><img src="/images/team-photos/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Vanessa Chen</h2>
                        <p>Director</p>
                    </td>
                    <td>
                        <h2>Farzad Hoque</h2>
                        <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Talia Cheng</li>
        <li>Monica Lai</li>
        <li>Soham Mukherjee</li>
    </ul></p></td>
    <td id="news-spacer">&nbsp;</td>
</table>
