/* frontend style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title a {
    text-decoration: none;
    color: black;
    text-align: center;
    width: 100%;
}

.title {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 300%;
    font-weight: 600;

    padding: 10px 0; 
    border-bottom: 1px solid gray;
}

.nav {
    margin: 5px 0;
}

.nav .col {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: center;
}

.nav .col a {
   color: gray;
}

@media only screen and (max-width: 546px) {
    .title {
        font-size: 125%;
    }

    .nav .col {
        font-size: 80%;
    }
}
