*{
    margin: 0;
    padding: 0;
    font-family: futura-pt, sans-serif;
}
:root {
    --color-light: #ebdfe1;
    --color-dark: #47556c;
    --btn-color-dark: #343e4e;
    --btn-color-light: #cfc5c7;
    --study-img-size: 20vw;

    --foreground: var(--color-dark);
    --background: var(--color-light);
    --btn-color: var(--btn-color-light);
}
.darkmode {
    --color-light: #ebdfe1;
    --color-dark: #47556c;
    --btn-color-dark: #343e4e;
    --btn-color-light: #cfc5c7;

    --foreground: var(--color-light);
    --background: var(--color-dark);
    --btn-color: var(--btn-color-dark);
    
}
.dark-mode-toggle {
    transition: color 0.4s ease-in;
    -webkit-appearance: none;
    border: none;
    outline: none;
    z-index: 100;
    color: var(--foreground);
    background: var(--btn-color);
    border-radius: 1.2vw;
    padding: 1vw;
    cursor: pointer;
    letter-spacing: 1.4px;
    font-size: 1vw;
    margin-top: -1vw;
  }
  .dark-label {
    transition: all 0.4s ease-in;
      color: var(--foreground);
      margin-left: 1.5vw;
      margin-top: -1vw;
  }
.container {
    transition: all 0.4s ease-in;
    position: relative;
    width: 100%;
    height: auto;
    background: var(--background);
    padding-bottom: 4vw;
}
div.menu {
    width: fit-content;
    height: fit-content;
    padding-bottom: 0.7vw;
}
.menu ul {
    display: inline-flex;
    margin-top: 1vw;
}
.menu ul li {
    transition: all 0.4s ease-in;
    text-decoration: none;
    list-style: none;
    margin: 0 1.6vw;
    color: var(--foreground);
    cursor: pointer;
    font-size: 1vw;
    letter-spacing: 3px;
    font-weight: 700px;
    font-style: normal;
}
#a {
    text-decoration: none;
}
#a li:hover {
    color: #88a3ce;
}
.logo {
    padding-left: 3vw;
}
.logo img {
    width: 6vw;
    padding: 1vw;
}
.title {
    padding: 1.4vw;
}
.title h1{
    transition: all 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.4vw;
}
.title a {
    text-decoration: none;
}
.menu #spacer {
    width: 1vw;
}
.bg-image {
    background-image: url("../images/stuy-blur.png");

    height: 36vw;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-text {
    background: rgb(8,0,0);
    background: linear-gradient(180deg, rgba(8,0,0,0) 0%, rgba(0,0,0,0.6018382352941176) 100%);
    color: white;
    font-size: 2.2vw;
    letter-spacing: 6px;
    font-weight: bold;
    position: absolute;
    z-index: 2;
    height: 22vw;
    width: 100%;
    text-align: center;
    margin-top: -22vw;
}
.body #main {
    padding-top: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.event-list {
    vertical-align: top;
    padding: 0.6vw;
    width: 20vw;
    background: #a33b3b;
}
.event-list ul li {
    list-style: none;
    padding-top: 2vw;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
}
.event-list #date {
    color: #83c2e0;
    font-size: 2vw;
}
.event-list #title {
    color: white;
    font-size: 1.6vw;
}
.event-list p {
    padding-top: 0.69vw;
    color: white;
    font-size: 1.2vw;
}
.event-list #head {
    font-family: acumin-pro-wide, sans-serif;
    font-size: 1vw;
    letter-spacing: 1px;
    font-weight: 700px;
    font-style: normal;
    color: white;
}
.content {
    padding-left: 2vw;
}
.content h1 {
    transition: all 0.4s ease-in;
    color: var(--foreground);
    text-align: center;
    font-size: 3vw;
    letter-spacing: 6px;
}
.content #p {
    transition: all 0.4s ease-in;
    color: var(--foreground);
    text-align: center;
    font-size: 1vw;
    letter-spacing: 2px;
    padding-top: 1.5vw;
    padding-bottom: 2vw;
}
.team-members img {
    padding-right: 2vw;
    width: 14vw;
}
.team-members #dababy {
    width: 17.4vw;
}
.team-members p {
    transition: all 0.4s ease-in;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: var(--foreground);
    font-size: 1.2vw;
    width: 14vw;
    word-wrap: break-word;
}
.team-members #p-text {
    vertical-align: top;
    text-align: center;
}
.team-members table {
    padding-bottom: 4vw;
}
.content h1 {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.content h1:nth-child(5n+1){
    animation-delay: 2.2s;
}
.content #p {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.content #p:nth-child(5n+2) {
    animation-delay: 2.4s;
}
.team-members img {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.team-members img:nth-child(5n+1) {
    animation-delay: 2.6s;
}
.team-members p {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.team-members p:nth-child(5n+1) {
    animation-delay: 2.8s;
}
.spacer {
    height: 1.4vw;
}
.content #content-body {
    padding-left: 2vw;
}
.content #content-body h1 {
    transition: all 0.4s ease-in;
    color: var(--foreground);
    font-size: 2vw;
    margin-top: -6vw;
}
.content #content-body p {
    transition: all 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.4vw;
    padding-top: 0.5vw;
    padding-left: 0.26vw;
}
.content #img img{
    width: 20vw;
}

@keyframes fadeIn {
    0% {
      opacity: 0.0;
    }
    100% {
      opacity: 1.0;
    }
}
.menu table td {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.menu table td:nth-child(5n+1) {
    animation-delay: 0.2s;
}
.menu table td:nth-child(5n+2) {
    animation-delay: 0.35s;
}
.menu table td:nth-child(5n+3) {
    animation-delay: 0.5s;
}
.menu ul li {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
#a {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
#a:nth-child(5n+1){
    animation-delay: 0.65s;
}
#a:nth-child(5n+2){
    animation-delay: 0.8s;
}
#a:nth-child(5n+3){
    animation-delay: 0.95s;
}
#a:nth-child(5n+4) {
    animation-delay: 1.1s;
  }
#a:nth-child(5n+5) {
    animation-delay: 1.25s;
  }
#a:nth-child(5n+6) {
    animation-delay: 1.4s;
  }
  .menu ul li:nth-child(5n+7) {
    animation-delay: 1.55s;
  }

  .menu ul li:nth-child(5n+8) {
    animation-delay: 1.7s;
  }
  .menu ul li:nth-child(5n+9) {
    animation-delay: 1.85s;
  }

.bg-image {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.bg-image:nth-child(5n+2){
    animation-delay: 2s;
}
.bg-text {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.bg-text:nth-child(5n+3){
    animation-delay: 2s;
}
.event-list {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.event-list:nth-child(5n+1){
    animation-delay: 2.2s;
}
.content {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.content:nth-child(5n+1){
    animation-delay: 2.2s;
}
.general-body {
    text-align: center;
    padding-top: 1vw;
    margin: auto;
    width: 70%;
}
.general-body table {
    margin: auto;
}
.general-body h1 {
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 3vw;
}
.general-body p {
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 2vw;
}
.our-team {
    padding-top: 1vw;
}
.our-team #images img {
    width: 12vw;
    padding: 2vw;
}
.our-team #description h2 {
    transition: 0.4s ease-in;
    color: var(--foreground);
    margin-top: -2vw;
    font-size: 2vw;
    line-height: 4vw;
}
.our-team #description p {
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.6vw;
    word-wrap: break-word;
    margin-top: -2vw;
    padding: 2vw;
    font-style: italic;
}
.our-team #description td {
    vertical-align: top;
    text-align: center;
}
.our-team tr td {
    width: 20vw;
}
.our-team-alt {
    padding-top: 1vw;
    padding-bottom: 4.2vw;
}
.our-team-alt #images img {
    width: 12vw;
    padding: 2vw;
}
.our-team-alt #description h2 {
    transition: 0.4s ease-in;
    color: var(--foreground);
    margin-top: -2vw;
    font-size: 2vw;
    line-height: 4vw;
}
.our-team-alt #description p {
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.6vw;
    word-wrap: break-word;
    margin-top: -2vw;
    padding: 2vw;
    font-style: italic;
}
.our-team-alt #description td {
    vertical-align: top;
    text-align: center;
}
.our-team-alt tr td {
    width: 20vw;
}
.general-body h1 {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.general-body h1:nth-child(5n+1) {
    animation-delay: 2.2s;
}
.general-body p {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.general-body p:nth-child(5n+2) {
    animation-delay: 2.2s;
}
.our-team-alt #images img {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.our-team-alt #images img:nth-child(5n+1) {
    animation-delay: 2.4s;
}
.our-team-alt #description h2 {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.our-team-alt #description h2:nth-child(5n+1) {
    animation-delay: 2.6s;
}
.our-team-alt #description p {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.our-team-alt #description p:nth-child(5n+2) {
    animation-delay: 2.8s;
}
.our-team #images img {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.our-team #images img:nth-child(5n+1) {
    animation-delay: 2.4s;
}
.our-team #description h2 {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.our-team #description h2:nth-child(5n+1) {
    animation-delay: 2.6s;
}
.our-team #description p {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.our-team #description p:nth-child(5n+2) {
    animation-delay: 2.8s;
}
.dept-list {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.dept-list {
    animation-delay: 3s;
}
.general-body #study-p {
    padding-top: 1vw;
    padding-bottom: 1vw;
}
#h2 {
    padding-top: 4vw;
    padding-bottom: 0.6vw;
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 2.3vw;
    letter-spacing: 1px;
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
#h2:nth-child(5n+1){
    animation-delay: 2.8s;
}
.dept-list {
    list-style: none;
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: top;
    font-family: futura-pt, sans-serif;
}
.team-container {
    width: 60vw;
}
.table-special {
    width: 62vw;
}
.table-special .our-team {
    width: 32vw;
}
.table-special .our-team .table-list {
    width: 32vw;
}
#dept-p-alt {
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 8vw;
}
#dept-p{
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.4vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: top;
}
#dept-p-special {
    transition: 0.4s ease-in;
    color: var(--foreground);
    font-size: 1.4vw;
    text-align: top;
}
#dept-p {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
#dept-p {
    animation-delay: 2.4s;
}
#dept-p-special {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
#dept-p-special {
    animation-delay: 2.4s;
}
#dept-p-alt {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
#dept-p-alt {
    animation-delay: 2.4s;
}
.study-img {
    background-image: url(../images/temp-study-img.png);
    background-repeat: no-repeat;
    background-position: top center;
    height: 20vw;
    width: 20vw;
    transition: all 0.2s ease-in;
    background-size: var(--study-img-size);
    vertical-align: bottom;
    text-align: center;
    padding: 1vw;
}
.study-img p {
    font-size: 1.6vw;
}
.study-txt {
    color: var(--foreground);
    background: var(--btn-color);
    border-radius: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.study-img {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.study-img {
    animation-delay: 2.4s;
}
.study-guides-table {
    padding-top: 1vw;
}
.newsletter-img {
    background-image: url(https://static.wixstatic.com/media/459cac_2dda8e879ba840ea9ecefa01f84c5601~mv2.png/v1/fill/w_584,h_779,al_c,q_90,usm_0.66_1.00_0.01/459cac_2dda8e879ba840ea9ecefa01f84c5601~mv2.webp);
    background-repeat: no-repeat;
    background-position: top center;
    height: 30vw;
    width: 30vw;
    background-size: 30vw;
    vertical-align: bottom;
    text-align: center;
    padding: 1vw;
}
.newsletter-txt {
    color: var(--foreground);
    background: var(--btn-color);
    border-radius: 1.5vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    margin-bottom: -2vw;
}
#news-spacer {
    height: 4vw;
}
#team-spacer {
    width: 4vw;
}
.newsletter-img {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.newsletter-img:nth-child(5n+1) {
    animation-delay: 2.4s;
}
.newsletter-img:nth-child(5n+2) {
    animation-delay: 2.4s;
}
.search-bar-container {
    margin: auto;
    position: relative;
    width: 30vw;
    height: 2.4vw;
    transition: 0.4s ease-in;
    border: 4px solid var(--foreground);
    padding: 0 10px;
    border-radius: 50px;
}
.elementsContainer {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
#search-text {
    border: none;
    transition: 0.4s ease-in;
    background: var(--background);
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-size: 1.4vw;
    font-family: futura-pt, sans-serif;
    color: var(--foreground);
    letter-spacing: 1px;
}
#search-text:focus {
    outline: none;
}
#search-button {
    border: none;
    outline: none;
    font-size: 1.6vw;
    border-radius: 50px;
    transition: 0.4s ease-in;
    background: var(--background);
}
#search-button:hover {
    transition: 0.4s ease-in;
    background: var(--btn-color);
}
#search-type {
    border: none;
    transition: 0.4s ease-in;
    background: var(--background);
    height: 100%;
    width: 100%;
    padding: 0 5px;
    border-radius: 50px;
    font-size: 1.4vw;
    font-family: futura-pt, sans-serif;
    color: var(--foreground);
    letter-spacing: 1px;
}
#search-type:focus {
    outline: none;
}
#search-type:hover {
    transition: 0.4s ease-in;
    background: var(--btn-color);
}
.search-bar-container {
    opacity: 0;
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}
.search-bar-container {
    animation-delay: 2.2s;
}
.footer {
    background: var(--btn-color);
    color: var(--foreground);
}
.study-img a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
}
.study-img a p {
    align-self: flex-end;
    width: 100%;
}
.study-img:hover {
    --study-img-size: 22vw;
}