<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link href="/stylesheets/old/error.css" rel="stylesheet">
    <link href="/stylesheets/old/index.css" rel="stylesheet">
    <title>Sophomore Caucus | Error !!! </title>

</head>
<body>

    <div id="root">

        <div id="logo">
            <a href="/"><img width="150vw" src="/student_union.png" /></a>
            <br>
            Not the Sophomore Caucus
        </div>


        <div class="status">There has been an error!</div>
        <center><div style="margin: 20px;" class="status">Status: <%= error.status %></div>
            <%= error.message %> 
        <br></center>
        <a style="margin: 20px;" class="status" href="/">try this</a>

    </div>

</body>
</html>