<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link href="./stylesheets/old/index.css" rel="stylesheet">
    <link href="./stylesheets/old/sheets.css" rel="stylesheet">
    <title>Sophomore Caucus | Study Guides</title>
</head>

<body onload="load()">

    <div id="root">

        <div id="logo">
            <a href="/"><img width="150vw" src="./student_union.png" /></a>
            <br>
            Sophomore Caucus Study Guides
        </div>

        <div class="search-bar row align-items-center">
            
            <div class="search-bar-input col-md-9">
                <input type="text" oninput="fillSearches()" class="form-control" id="search-text" placeholder="Search for study guides...">
            </div>
            
            <div class="search-type col-md-2">
                <select class="form-control" onchange="fillSearches()" id="search-type">
                    <option value="&any=">Any</option>
                    <option value="&subject=">Subject</option>
                    <option value="&title=">Title</option>
                    <!-- <option value="&author=">Author</option> -->
                    <option value="&teacher=">Teacher</option>
                </select>
            </div>

            <div class="search-button col-md-1">
                <button type="button" onclick="fillSearches()" id="search-button" class="btn btn-primary">🔍</button>
            </div>

        </div>

        <div class="study-guides row"></div>

    </div>

    <script>

        async function getSheets(keyword, addOn='&any=') {
            
            let url = '/api/sheets?with_keywords=true&render=true';
            if  (keyword !== undefined)
                url += (addOn + keyword);
                    
            let result = await fetch(url);
            result = await result.text();

            return result;

        }

        const root = document.getElementsByClassName("study-guides")[0];
        const searchBar = document.getElementById("search-text");
        const queryChooser = document.getElementById("search-type");

        function getSearchbarText() {
            return searchBar.value;
        }

        function getQuery() {
            return queryChooser.value;
        }

        async function fillSearches() {
            root.innerHTML = await getSheets(
                getSearchbarText(), 
                getQuery()
            );
        }

        async function load() {
            let sheets = await getSheets();
            root.innerHTML = sheets; 
        }

    </script>

</body>
</html>