<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link href="./stylesheets/old/index.css" rel="stylesheet">
    <link href="./stylesheets/old/links.css" rel="stylesheet">
    <title>Sophomore Caucus | Social Links</title>

</head>
<body>

    <div id="root">

        <div id="logo">
            <a href="/"><img width="150vw" src="./student_union.png" /></a>
            <br>
            Sophomore Caucus Links
        </div>

        <% for (let link of links) { %>
            <a target="_blank" href="<%= link.url %>" class="link">
                <div><%= link.alias %></div>
            </a>
        <% } %>
        
    </div>
    
</body>
</html>
