<div class="navbar">
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            
            <ul id="menu">
                <div id="menu-color">
                <a id="a" href="/mobile/"><li> Home </li></a>
                <a id="a" href="/mobile/our-team"><li>Our Team</li></a>
                <a id="a" href="/mobile/study-guides"><li>Study Guides</li></a>

                <!-- <a id="a" href="newsletters.html"><li> Newsletters </li></a> -->

                <a id="a" target="_blank" href="https://sophomore.stuysu.org/links"><li>Links</li></a>
                <li><a target="_blank" href="https://www.stuysu.org/">SU</a></li>
                <li><a target="_blank" href="https://www.instagram.com/sophomorecaucus/"><img src="https://static.wixstatic.com/media/01c3aff52f2a4dffa526d7a9843d46ea.png/v1/fill/w_20,h_20,al_c,q_85,usm_0.66_1.00_0.01/Instagram.webp"></a>
                    &nbsp&nbsp<a target="_blank" href="https://www.facebook.com/StuySophCaucus"><img src="https://static.wixstatic.com/media/0fdef751204647a3bbd7eaa2827ed4f9.png/v1/fill/w_20,h_20,al_c,q_85,usm_0.66_1.00_0.01/Facebook.webp"></a>
                    &nbsp&nbsp<a target="_blank" href="https://twitter.com/sophomorecaucus"><img style="filter: invert(100%);" src="/images/twitter.png" height="20px" width="20px" /></a></li>
                    <li><button type="button" id="dark-mode-toggle" class="dark-mode-toggle">Toggle Dark Mode</button></li>
                </div>
            </ul>

        </div>

    </nav>
    
    <a href="/mobile/" id="title-a"><h1 id="title">Sophomore Caucus</h1></a>
    <a href="/mobile/"><img id="logo" src="/images/stuy-sophomore-caucus.png"></a>

</div>