<div class="navbar">
    <nav role="navigation">
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>

            <ul id="menu">
                <div id="menu-color">
                <a id="a" href="/mobile/"><li> Home </li></a>
                <a id="a" href="/mobile/our-team"><li>Our Team</li></a>
                <a id="a" href="/mobile/study-guides"><li>Study Guides</li></a>

                <!-- <a id="a" href="newsletters.html"><li> Newsletters </li></a> -->

                <a id="a" target="_blank" href="https://sophomore.stuysu.org/links"><li>Links</li></a>
                <li><a target="_blank" href="https://www.stuysu.org/">SU</a></li>
                <li><a target="_blank" href="https://www.instagram.com/sophomorecaucus/"><img src="/images/instagram.svg" style="filter: invert(100%);" height="20px" width="20px"></a>
                    &nbsp&nbsp<a target="_blank" href="https://www.facebook.com/StuySophCaucus"><img src="/images/facebook.svg" style="filter: invert(100%);" class="invert-svg-color" height="20px" width="20px"></a>
                    &nbsp&nbsp<a target="_blank" href="https://twitter.com/sophomorecaucus"><img style="filter: invert(100%);" src="/images/twitter.svg" height="20px" width="20px" /></a></li>
                    <li><button type="button" id="dark-mode-toggle" class="dark-mode-toggle">Toggle Dark Mode</button></li>
                </div>
            </ul>

        </div>

    </nav>

    <a href="/mobile/" id="title-a"><h1 id="title">Sophomore Caucus</h1></a>
    <a href="/mobile/"><img id="logo" src="/images/sophomore_caucus.svg#svgView(viewBox(35,35,385,385))" style="width: 5vw;"></a>

</div>
