<link href="/stylesheets/bell-schedule.css" rel="stylesheet">
    <table class="bell-schedule">

        <tr id="ticker">
        </tr>

        <tr id="bell-schedule-row">
        </tr>

    </table>
</table>

<script type="text/javascript" src="/javascripts/bell-schedule-lib.js"></script>
<script type="text/javascript" src="/javascripts/bell-schedule.js"></script>
