<link href="/stylesheets/bell-schedule.css" rel="stylesheet">

<table class="bell-schedule">

    <tr id="bell-schedule-row">
    </tr>

</table>

<script type="text/javascript" src="/javascripts/bell-schedule.js"></script>
<script>

    const PERIODS = [
        // new Period(new Time(00, 00), new Time(09, 09), 'Before school'),
        new Period(new Time(09, 10), new Time(10, 05), 'Pd 1'),
        new Period(new Time(10, 15), new Time(11, 10), 'Pd 2'),
        new Period(new Time(11, 20), new Time(12, 15), 'Pd 3'),
        new Period(new Time(12, 25), new Time(13, 20), 'Pd 4'),
        new Period(new Time(13, 30), new Time(14, 25), 'Pd 5'),
        // new Period(new Time(14, 30), new Time(14, 50), 'Office Hours'),
        // new Period(new Time(14, 51), new Time(23, 59), 'After School')
    ];

    function getPeriods() {
        return findPeriod( Time.now(), PERIODS );
    }

    function getRow() {
        return document.getElementById("bell-schedule-row");
    }

    function isPeriod(test, periods) {
        for (let period of periods) {
            if (test.compare(period) == 0) 
                return true;
        }
        return false;
    }

    function updateRow() {
        let periods = getPeriods();

        let row = getRow();
        row.innerHTML = ''; // clear html

        for (let period of PERIODS) {

            let style = (isPeriod(period, periods)) ?
                'active-period' :
                '';

            row.innerHTML += `
                <td class='${style}'>
                    ${period.name}
                </td>
            `;

        }
    }

    function getUpdateRate() {
        // every minute (1000 ms * 60 seconds)
        return 1000 * 60;
        // return 500;
    }

    // initial call
    updateRow();

    // updater thread
    setInterval(
        updateRow, 
        getUpdateRate()
    );


</script>