<link href="/stylesheets/form-viewer.css" rel="stylesheet">
<table id="form-container">

    <tr id="form-link">
        <a href="<%= url %>">Visit the google form here!</a>
    </tr>

    <tr id="form-frame">
        <iframe 
            src="<%= url %>" 
            id="google-form" 
            name="google-form"
            width="100%"
            height="1000000px"
        ></iframe>
    </tr>

</table>