<%
/*
    This file does not actually have any embedded javascript (besides
    this comment). 

    It is all html. I just wanted all the files in this folder to have
    the same file extension (.ejs).

*/
%>

<h1>Our Team</h1>
<p>Meet all of our caucus members below!</p>
<table class="team-container">
    <tr>
        <td>
        <table class="our-team">
            <tr><h2 id="h2">Presidents</h2></tr>
            <tr id="images">
                <td><img src="/images/temp-pfp.png"></td>
                <td><img src="/images/temp-pfp.png"></td>
            </tr>
            <tr id="description">
                <td>
                    <h2>Daniel Jung</h2>
                </td>
                <td>
                    <h2>Ryan Lee</h2>
                </td>
            </tr>
        </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Executive Board</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                    <td><img src="/images/temp-pfp.png"></td>
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Andrey Sokolov</h2>
                        <p>Chief of Staff</p>
                    </td>
                    <td>
                        <h2>Alexander Lopez</h2>
                        <p>Chief of Staff</p>
                    </td>
                    <td>
                        <h2>Jerry Yang</h2>
                        <p>Advisor</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">IT</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Myles Pasetsky</h2>
                        <p>Engineer</p>
                    </td>
                    <td>
                        <h2>Paul Serbanescu</h2>
                        <p>Designer</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Paul Gutkovich</li>
        <li>Yuval Vaknin</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Outreach</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Jonathan Feng</h2>
                        <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="table-special"><tr><td><table class="our-team">
                <tr><h2 id="h2">Internal Outreach</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Isabella Chow</h2>
                        <p>Director</p>
                    </td>
                </tr>
                <td><p><table class="table-list">
                    <tr>
                        <td><ul class="dept-list">
                            <li>Alena Chen</li>
                            <li>Andrea Nalywajiko</li>
                            <li>Jay Kim</li>
                            <li>Julia Czech</li>
                            <li>Kaia Ross</li>
                        </ul></td>
                        <td><ul class="dept-list">
                            <li>Luca Adeishvili</li>
                            <li>Keith Yu</li>
                            <li>Margaret Sansone</li>
                            <li>Sakura Yamanaka</li>
                            <li>Zoe Ng</li>
                        </ul></td>
                    </tr>
                </table></p>
            </table></td>
            <td id="team-spacer">&nbsp;</td>
            <td><table class="our-team-alt">
                <tr><h2 id="h2">External Outreach</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Iris Chan</h2>
                        <p>Director</p>
                    </td>
                </tr>
                <td><p><ul class="dept-list">
                    <li>Erica Li</li>
                    <li>Jackson Mushnick</li>
                    <li>Jeffrey Tan</li>
                </ul></p></td>
            </table></td></tr></table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Events</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                    <h2>Jesse Ding</h2>
                    <p>Director</p>
                    </td>
                    <td>
                    <h2>Cynthia Chang</h2>
                    <p>Co-Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Ella Chan</li>
        <li>Justin Huang</li>
        <li>Nafisa Hoque</li>
        <li>Sarah Ibrahim</li>
        <li>Talia Hsia</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr><h2 id="h2">Graphic Design</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Kate Alvarez</h2>
                        <p>Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>May Qiu</li>
        <li>Olivia Zheng</li>
        <li>Phoebe He</li>
        <li>Vivian Teo</li>
    </ul></p></td>
    <tr>
        <td>
            <table class="our-team">
                <tr id="dept-title"><h2 id="h2">Finance</h2></tr>
                <tr id="images">
                    <td><img src="/images/temp-pfp.png"></td>
                    <td><img src="/images/temp-pfp.png"></td>
                </tr>
                <tr id="description">
                    <td>
                        <h2>Abigail Johnson</h2>
                        <p>Co-Director</p>
                    </td>
                    <td>
                        <h2>Hailey Seltzer</h2>
                        <p>Co-Director</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <td><p><ul class="dept-list">
        <li>Emily Yu</li>
        <li>Fang Min Chen</li>
        <li>Jinseo Hong</li>
        <li>Kenisha Mahajan</li>
        <li>Pricilla Park</li>
    </ul></p></td>
    <td id="news-spacer">&nbsp;</td>
</table>