<h1>Study Guides</h1>
<p id="study-p">Hey everyone! Here are the study guides that we collected from Sophomores and the upperclassmen, feel
    free to use them to your heart's content! (pro tip: use the search bar for faster results!)</p>

</br>

<div class="search-bar-container">

    <table class="elementsContainer">
        
        <tr>

            <td class="search-bar-input">

                <input 
                    oninput="fillSearches()" 
                    type="text" 
                    id="search-text"
                    placeholder="Search for study guides..."
                />
            
                </td>
            <td class="search-spacer">&nbsp;</td>
            
            <td class="search-type">
                
                
                <select onchange="fillSearches()" id="search-type">
                    <option value="&any=">Any</option>
                    <option value="&subject=">Subject</option>
                    <option value="&title=">Title</option>
                    <option value="&teacher=">Teacher</option>
                </select>

            </td>
        
        </tr>
    
    </table>

</div>

<table class="study-guides-table" id="sheets-table">
    
</table>

<script src="/javascripts/study-guides.js"></script>

<script>

function getSheetHtml(sheet, nClass) {
    const capitalize = (s) => s.charAt(0).toUpperCase() + s.slice(1);

    let html = `
        <td class='study-img ${nClass}' >
            <a target="_blank" href='${sheet.url}'>
            <p class='study-txt ${nClass}'> 
                ${sheet.title}
    `;

    for (let option of [ 'subject', 'teacher', 'author' ]) {
        if (sheet[option]) {
            // html += `<span class='small'>${capitalize(option)}: ${sheet[option]}</span>`;
            html += `<span class='small'>${sheet[option]}</span>`;
        }

    }

    html += `
        </p>
        </a>
    </td>`;


    return html;

}

function getSheetsHtml(sheets, nClass) {
    let html = '';
    let needsClose = false;
    let i = 0;
    for (let i = 0; i < sheets.length; ++i) {
        if (i % 4 == 0) {
            html += needsClose ? "</tr>" : "<tr>";
            needsClose = !needsClose;
        }

        let sheet = sheets[i];

        html += getSheetHtml(sheet, nClass);
    }
    return html;
}

function consumeHtml(html) {
    document.getElementById("sheets-table").innerHTML = html;
}

function getDefaultHtml(nClass) {
    return `<tr><td class='${nClass}'><p style='padding-top: 2vw;'>No study guides found 😢</p></td></tr>`;
}

</script>