<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://use.typekit.net/emn0ovo.css">

<link rel="icon" href="/images/stuy-sophomore-caucus.png">
<link href="/stylesheets/style.css" rel="stylesheet">
<link href="/stylesheets/extra.css" rel="stylesheet">

<title><%= title %> | Sophomore Caucus</title>

<script type="text/javascript" src="/javascripts/device-loader.js"></script>
<script type="text/javascript">

    // MOBILE REDIRECT
    if (isMobile()) {
        document.location.href = toMobile(getPageLocation());
    } 


</script>
