<!-- create a parameter for this that makes one of them bold-->
<div class="title row align-items-center">
    <a href="/" ><div class="col">Sophomore Caucus</div></a>
</div>
<div class="nav row">
    <div class="col">
        <a href="/links" target="_blank">Social Links</a>
    </div>
    <div class="col">
        <a href="/guides">Study Guides</a>
    </div>
</div>