<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <link href="../stylesheets/index.css" rel="stylesheet">
    <link href="../stylesheets/form-viewer.css" rel="stylesheet">
    <title>Sophomore Caucus | Form Viewer</title>

</head>
<body>

    <% 
        function getUrl(code) {
            return `https://forms.gle/${code}`
        }
    %>

    <div id="root">

        <div id="logo">
            <a href="/"><img width="150vw" src="../student_union.png" /></a>
            <br>
            Sophomore Caucus Form Viewer
        </div>

        <div><a href="<%= getUrl(code) %>">Visit the google form</a></div>

        <div class="centered">

            <iframe 
                src="<%= getUrl(code) %>" 
                id="google-form" name="google-form" 
                frameborder="0" marginheight="0" marginwidth="0"
                width="100%" height="<%= height %>"
            >

        </div>

    </div>
    
</body>
</html>
