<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include('./partials/headers'); %>

    <style>

        .relevant {
            padding: 0;
        }

        .relevant .col {
            font-family: 'Robot', sans-serif;
            text-align: center;
            font-size: 200%;
            padding: 0;
            font-weight: bold;
            font-style: italic;
            margin: 30px 0;
        }

    </style>

    <title>Sophomore Caucus | Home Page</title>

</head>

<body onload="load()">

    <div class="container">
        
        
        <%- include('./partials/title.ejs'); %>


        <div class="relevant row">
            <div class="col">More to come soon... Check out our social links and study guides in the meantime!</div>
        </div>
        <div clas="row" style="text-align: center;">
            <div class="col"><img width="50%" src="./student_union.png" /></div>
        </div>

    </div>

    <%- include('./partials/scripts'); %>

    <script>
    </script>

</body>

</html>