<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <style>

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background: white;
        }

        #root {
            font-family: 'Lato', sans-serif;

            display: flex;
            justify-content: center;
            align-content: flex-start;
            min-height: 100vh;
            flex-wrap: wrap;
            width: 800px;
            margin: 0 auto;
        }

        .link {
            display: flex;
            width: 100%;
            text-decoration: none;
            margin: 10px 0;
        }

        .link div {
            padding: 15px 0;
            width: 80%;
            margin: 0 auto;

            font-size: 125%;
            font-weight: 600;
            /* letter-spacing: 0.5em; */
            
            border: 2px solid #5166DA;
            border-radius: 32px;

            /* background-color: ; */

            text-align: center;
            color: #5166DA;
            
            transition: 0.2s;
        }

        .link div:hover {
            background-color: #5166DA;
            color: white;
        }

        #root #logo img {
            border-radius: 100%;
            box-shadow: 0px 4px 2px 1px rgba(0, 0, 255, .2);
            margin-bottom: 20px;
        }
        
        #root #logo {
            color: black;
            font-size: 200%;
            font-weight: bold;
            padding: 20px 0 30px 0;
            text-align: center;
        }

        @media only screen and (max-width: 800px) {

            #root {
                width: 100vw;
                height: 100vh;
            }

            .link {
                width: 100%;
            }
            .link div {
                width: 90%;
            }

            #root #logo {
                /* padding: 10px 0; */
            }

        }

    </style>
    
    <title>Sophomore Caucus | Social Links</title>

</head>
<body>

    <div id="root">

        <div id="logo">
            <img width="150vw" src="./student_union.png" />
            <br>
            Sophomore Caucus Links
        </div>

        <% for (let link of links) { %>
            <a target="_blank" href="<%= link.url %>" class="link">
                <div><%= link.alias %></div>
            </a>
        <% } %>
    </div>
    
</body>
</html>
